.chart-box {
  margin-top: 50px;
  height: 500px;
  overflow: scroll;
}

.chart-box-svg {
  height: 10000px;
}

table {
  font-size: 15px;
  font-weight: bold;
}

td {
  vertical-align: middle;
  width: 100px;
  height: 100px;
}

.name {
  width: 100px;
  vertical-align: middle;
}

.food-img {
  object-fit: scale-down;
  margin: 10px 6px 10px 0px;
}

.benchmark {

}

.sugar-grams {
  font-size: 28px;
  text-align: left;
  padding-bottom: 6px;
  padding-left: 6px;
}
