.chart-box {
  margin-top: 30px;
  margin-right: 20px;
  height: 500px;
  overflow-y: scroll;
  overflow-x: scroll;
  border: 1.5px solid rgba(255, 212, 169, .5);
  border-radius: 5px;
}

/* responsive formatting from https://stackoverflow.com/questions/16265123/
resize-svg-when-window-is-resized-in-d3-js */

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: top;
  overflow: hidden;
}

.chart-box-svg {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: top;
  overflow: hidden;
}

/* end responsive formatting */

table {
  font-size: 15px;
  font-weight: bold;
}

tr {
  vertical-align: middle;
}

td {
  vertical-align: middle;
}

.svgbm {
  vertical-align: middle;
}

.name {
  width: 120px;
  vertical-align: middle;
}

.food-img {
  object-fit: scale-down;
  margin: 10px 6px 10px 0px;
}

#bg {
  /*width: 60px;
  height: 40px;
  object-fit: cover;*/
}

.benchmark {

}

.td-equal {
  height: 75px;
  width: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.sugar-grams {
  font-size: 28px;
  text-align: left;
  padding-bottom: 6px;
  padding-left: 10px;
}

.benchmark-note {
  margin-top: 12px;
}
