.chart-box {
  margin-top: 50px;
  height: 500px;
  overflow: scroll;
}

.chart-box-svg {
  height: 2000px;
}

table {
  font-size: 15px;
  font-weight: bold;
}

table span {
  vertical-align: middle;
}

.name {
  width: 100px;
  vertical-align: middle;
}

.equal {

}

.food-img {
  object-fit: scale-down;
  margin: 10px 6px 10px 0px;
}
